90,000 yellow taxi trips

to and from New York City airports 

between January and June 2016

In [1]:
import csv
import numpy as np
#import pandas as pd

In [2]:
o_file = open("nyc_taxis.csv", "r") # open for reading (default)
r_file = csv.reader(o_file)
dataset = list(r_file)
dataset_h = dataset[0] # grab header
dataset = dataset[1:] # remove header

## Important Cols

pickup_year: the year of the trip

pickup_month: the month of the trip (January is 1, December is 12)

pickup_day: the day of the month of the trip

pickup_location_code: the airport or borough where the trip started

dropoff_location_code: the airport or borough where the trip ended

trip_distance: the distance of the trip in miles

trip_length: the length of the trip in seconds

fare_amount: the base fare of the trip, in dollars

total_amount: the total amount charged to the passenger, including all 
fees, tolls and tips

## All Values to floats

Easy Data Cleaning

In [3]:
dataset_floats = [] # dataset with all datas as floats 

for data in dataset: #grab each row
    data_rows = [] #hold row item values
    for item in data:
        data_rows.append(float(item)) # convert each item to float
    dataset_floats.append(data_rows) # append new values to new list

## NumPy ndarray conversion

In [15]:
# better formating
taxi_array = np.array(dataset_floats, dtype=object) 
print(taxi_array[0])

# gathering info
print(taxi_array.shape) #2013 rows, 15 cols
taxi_shape = taxi_array.shape

[2016.0 1.0 1.0 5.0 0.0 2.0 4.0 21.0 2037.0 52.0 0.8 5.54 11.65 69.99 1.0]
(2013, 15)

In [22]:
print(taxi_array[0,10])

0.8